<div id="header">
  <div class="topperl">
  <a href="http://www.mmmp.org"><%=image_tag 'logos/mmmp.png', :style=>"float:left" %></a>
  </div>
  <div  class="topperc">
  <center><table border="none" style="width: 500px;float:left">
<tr><td><h1><center>Targeted Therapy Analyzer</center></h1></td></tr>
<tr><td><h3><center>A Literature-Based Tool for the Targeted Therapy of Melanoma</center></h3></th></tr>
</table></center>
  </div>
  <div  class="topperr">
    <p style="float:right">Co-created with</p>
  <a href="http://collabrx.com"><%=image_tag 'logos/collabrx.png', :style=>"float:right" %></a></td></tr>
  </div>
	<div class="clear"></div>
</div>
<div class="link_item">
	<div class="link_thumbnail">
		<a href="http://www.mmmp.org/MMMP/import.mmmp?page=targetedtherapydatabase.mmmp" ><%=image_tag 'thumbnails/ttd.jpg' %></a>
	</div>This application uses data from:<br> <a href="http://www.mmmp.org/MMMP/import.mmmp?page=targetedtherapydatabase.mmmp" >the MMMP - Targeted Therapy Database</a>
    <div class="clear"></div>
</div>
<div class="link_item" style="width: 660px;float:left">
	<div class="link_thumbnail">
		<a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0011965" ><%=image_tag 'thumbnails/plos.jpg' %></a>
		</div>This application implements the prevalent hypothesis and drug ranking algorithms described in this paper:  <br><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0011965" >Mocellin S, Shrager J, Scolyer R, Pasquali S, Verdi D, et al. (2010) Targeted Therapy Database (TTD): A Model to Match Patient's Molecular Profile with Current Knowledge on Cancer Biology. PLoS ONE 5(8): e11965. doi:10.1371/journal.pone.0011965</a>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<p class="disclaimer"><em>WARNING: This tool is designed exclusively for research
purposes and should never under any circumstances be used for clinical decision making.</em></p>
<div class="clear"></div>
<center><p >Please email comments or questions to <a href=mailto:mmmpteam@mmmp.org>mmmpteam@mmmp.org</a>
</p></center>
